.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.overall {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("./leaves-7396788_1920.jpg") no-repeat;
}
.card {
  width: 300px;
  background-color: grey;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background: rgba(250, 200, 210, 0.1)
  
}
.wrap {
  width: 100%;
  position: relative;
}
.wrap input {
  width: 100%;
  padding: 10px;
}
.wrap .icon {
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 30px;
}
.box {
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding:30px;
  font-size: 18px;
}



